@font-face {
    font-family: 'Posterama';
    src: url('../src/assets/fonts/Posterama.ttf');
}

@font-face {
    font-family: 'Unbounded';
    src: url('../src/assets/fonts/Unbounded.ttf');
}

@import 'tailwindcss';

@theme {
    --font-posterama: Posterama, 'sans-serif';
    --font-unbounded: Unbounded, 'sans-serif';
}

/* Hide the default scrollbar track (background) */
::-webkit-scrollbar {
    width: 6px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: transparent; /* Removes the white background */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Light-colored thumb */
    border-radius: 4px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Slightly darker on hover */
}
